# Elso körben éjszakánként legenerálom a jelentéseket
0 2 * * * /home/sutda/DNSmezzo/cron/dailyreport 2>&1 >> /var/log/dailyreport_output.log
0 20 * * 7 /home/sutda/DNSmezzo/cron/weeklyrotate 2>&1 >> /var/log/dailyreport_output.log
